* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    width: 1000px;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
}

.container {
    background-color: rgb(92, 130, 253);
    border-radius: 25px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
}

.media-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 30px 50px;
}

.counter {
    font-size: 60px;
    margin-top: 10px;
}

@media (max-width: 580px) {
    body {
        flex-direction: column;
    }
}